





body{
margin:0;
position: relative;
display:block

}

                /*  *====================================================
                    *               DASHBOARD PAGE
                    *=================================================== */

/*  ?===================================================  
    ?                     NAV
    ?===================================================  */


._nav{
    position:relative;
    /* border: 2px green solid; */
    width: 100%;
    height: 56px;
    padding: 8px 16px;
    min-width: 392px;

}

    .nav__div{
        /* border: 2px red solid; */
        display: inline-block;
        width: 50%;
        height: 56px;
        margin: auto;

    }

    .nav__header-title{
        /* border: 2px blue solid; */
        display: inline-block;
        width: 75%;
        height: 56px;
        margin: auto;
        text-align: center;
        color: rgb(5, 0, 0);
        font-family: Open Sans,Helvetica Neue,Arial,sans-serif;
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;
        font-size: 2.5rem;
    }

/*  ?===================================================  
    ?                 BODY ELEMENTS
    ?===================================================  */

.dashboard-title-container{
    position: relative;
    display: flex;
    margin: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* border: 2px blue solid; */

}

    .dashboard-title{
        width: 7em;
        -webkit-text-fill-color: white;
        font-family: Open Sans;
        text-shadow: 2px 2px 1px rgb(0 0 0);
        font-size: 50px;
        border: outset;
        border-radius: 30%;
        border-color: rgb(233, 216, 216);
        margin-right: 15px;
        display: inline-block;
        text-align: center;
        margin: 0px 50px 0 0;
        position: relative;
        
        /*
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%); */

        /* margin: transform;
        
        -webkit-transform: translate(-50%, 30%);
        transform: translate(-50%, 50%) */
    }

    .dashboard-cards-container{
        /* border: 2px blue solid; */
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .animal-card{
        position: relative;
        border: outset;
        border-color: rgb(233, 216, 216);
        border-radius: 5em;
        margin: 2rem;
        width: 520px;
        height:285px;
        min-height: 285px;
        min-width: 350px;
    }

    .animal-card__cat{
    background: url("/static/assets/img/cat.jpg") center / cover no-repeat; 


    }

    .animal-card__owl{
        background: url("/static/assets/img/owly.png") center / cover no-repeat; 

    
    }

    .animal-card__title {
        /* border: 2px blue solid; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; 
   }

        .animal-card__title > h1{
            display: inline-block;
            color: black;
            -webkit-text-fill-color: white;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: black;
            font-size: 3rem;
            text-transform: uppercase!important;
            font-family: Open Sans,Helvetica Neue,Arial,sans-serif;
            justify-self: center;
            text-align: center;
            /* border: 2px blue solid; */

        }  

    .animal-card > hr{
        max-width: 50px;
        border: 0;
        border-top: 3px solid #fff7f6;
    }

    .animal-card__body-container{
        /* border: 2px blue solid; */
        position: relative;
        width: 85%;
        margin: auto;
        /* height: 88%; */
        display: flex;
    }

    .animal-card__body{
        -webkit-text-fill-color: white;
        font-family: Open Sans;
        font-size: 20px;
        text-shadow: 2px 2px 1px rgb(0 0 0);
        justify-self:center;
        text-align: center;


    }

    .animal-card__btn-container{
        position: relative;
        /* border: 2px blue solid; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
        /* height:100%; */
    }

    .animal-card__btn{
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        font-weight: 700;
        text-transform: uppercase;
        border: solid;
   
        border-radius: 320px;
        /* border-top-right-radius: 8px ;
        border-bottom-left-radius: 8px ; */
        border: solid rgba(129, 129, 129, 0.781) 5px;
        border-right: white 3px;
        border-bottom: white 3px;
        border-left: white 3px;
        /* border-top-right-radius: 8px; */

        
        font-family: Open Sans,Helvetica Neue,Arial,sans-serif;
        color: #212529;
        background-color: #f8f9fa;
        padding: 1rem 2rem;
        cursor: pointer;
        font-size: 1rem;
        line-height: 1.5;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        -webkit-text-fill-color: rgb(0, 90, 173);
        text-decoration: none;


    }

    @-webkit-keyframes slide-fwd-center {
        0% {
            border: solid rgba(129, 129, 129, 0.781) 5px;
            border-right: white;
            border-bottom: white;
            border-left: white;
        }
        100% {
            border:  solid rgba(129, 129, 129, 0.781) 3px;
            }
    }
    @keyframes slide-fwd-center {
            0% {
                border: solid rgba(129, 129, 129, 0.781) 5px;
                border-right: white;
                border-bottom: white;
                border-left: white;
            }
            100% {
                border:  solid rgba(129, 129, 129, 0.781) 3px;
                }
    }

    /* .animal-card__btn-container:hover{
        -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	    animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    } */

    .animal-card__btn:active{
        -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
        -webkit-box-shadow: 8px 0px 0px 0px #DCD0C0, 0px 8px 0px 0px #B1938B, -8px 0px 0px 0px #4E4E56, 0px 0px 0px 8px #DA635D, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 8px 0px 0px 0px #DCD0C0, 0px 8px 0px 0px #B1938B, -8px 0px 0px 0px #4E4E56, 0px 0px 0px 8px #DA635D, 5px 5px 15px 5px rgba(0,0,0,0);
    }

    .animal-card__btn:hover{
        -webkit-animation: slide-fwd-center .15s  ;
                animation: slide-fwd-center .15s ;
                animation-fill-mode: forwards;
    }

/*  ?===================================================  
    ?            MEDIA QUERY BODY ELEMENTS
    ?===================================================  */

@media only screen and (max-width:1067px) and (min-width:949px){
    .animal-card__cat > .animal-card__btn-container {
        margin: 0px 15px;


    }
}
@media only screen and (max-width: 948px){
    ._nav{
        background: #797979;
    }

    .nav__header-title{
        color: #fff;
        /* text-shadow: none; */

    }

    .dashboard-cards-container{
        justify-content: center;
        flex-direction: column;
    }
}

@media only screen and (max-width: 794px){
 .animal-card{
     width: 314px;
     height: 421px;
     min-height: 421px;
     min-width: 314px;
 }

 .animal-card__owl > .animal-card__body-container > .animal-card__body{
    margin-top: 12%;
    margin-bottom: 5%
 }

 .animal-card__cat > .animal-card__body-container >.animal-card__body{
    margin-top: 18%;
    margin-bottom: 9%
 }

 .animal-card__cat{
    margin-bottom: .5rem;

 }

 .animal-card__owl{
    margin-top: .5rem;

 }

 .associate-body-container > img{
    height:200px;
    width:400px;
    object-fit: contain;

}
}

@media only screen and (max-width: 550px){
    .nav__header-title{
    text-align: left;
    width: 100%;
    }
    /* .animal-card__cat > .animal-card__title{
        width: 80%;
    } */
}

                    /* *===================================================  
                                   * ASSOCIATE PAGE
                    *===================================================  */
.associate-body-container{
    /* border: 2px blue solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

    .associate-body-container > img{
        height:400px;
        width:800px;
        object-fit: contain;

    }
    .associate-tf-container{
        position: relative;
    }

    .associate-body-container > form > button{
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        font-weight: 700;
        text-transform: uppercase;
        border: solid;
        border-radius: 120px;
        padding: .375rem .75rem;
        font-family: Open Sans,Helvetica Neue,Arial,sans-serif;
        color: #212529;
        background-color: #f8f9fa;
        cursor: pointer;
        font-size: 1rem;
        line-height: 1.5;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        -webkit-text-fill-color: #212529;
        text-decoration: none;
        margin-top: 15px;

        border-style: outset;
        /* border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */

        outline:none;

    }

    .associate-body-container > form > .sub{
        margin-left: 22px;
    }

    .associate-body-container > form > button:active{
        outline:none;
    }

    .associate-body-container > form > button:hover{
        /* border-color:  #363636; */
        border-style: inset;
    }
    
    /*  ?===================================================  
    ?            SEARCH TEXTFIELD EFFECTS
    ?===================================================  */
    .effect-8{
        text-align: center;
    }
    @import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');


    :focus{outline: none;}

    /* necessary to give position: relative to parent. */

    :focus{outline: none;}

    .effect-8 input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;  border: none!important; }



    .effect-8 ~ .focus-border:before,
    .effect-8 ~ .focus-border:after{content: ""; position: absolute; top: 0; left: 0; width: 0; height: 2px; background-color: #1e90b3; transition: 0.3s; left:8px;}
    .effect-8 ~ .focus-border:after{top: auto; bottom: 0; left: auto; right: 0;}
    .effect-8 ~ .focus-border i:before,
    .effect-8 ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #1e90b3; left:8px; transition: 0.4s;}
    .effect-8 ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0;}
    .effect-8:focus ~ .focus-border:before,
    .effect-8:focus ~ .focus-border:after{width: 100%; transition: 0.3s;}
    .effect-8:focus ~ .focus-border i:before,.effect-8:focus ~ .focus-border i:after{height: 100%; transition: 0.4s;}

    input, textarea {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    }

    /* Change the white to any color ;) */
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    .hidden {
    display: none;
    
    
    }
    .toasty{
        position: fixed!important;
        top:550px;
        /* right:50%; */
        height:50px;
    }
    

    /*  ?===================================================  
    ?            MEDIA QUERY BODY ELEMENTS
    ?===================================================  */
    @media only screen and (max-width: 794px){
       
        .associate-body-container > img{
           height:300px;
           width:700px;
           object-fit: contain;
       
       }
       .toasty{
        top:450px;
    }
       }


                    /* *===================================================  
                                   * MANAGER PAGE
                    *===================================================  */

.manager-nav{
    display: inline-block;
    padding:0;
    width:100vw;
    /* width:70%;
    margin:auto; */

    /* flex-direction: row; */
    /* align-items: right; */
    /* border: red solid 2px; */



}

.manager-ul{
    /* position: absolute; */
    display: inline-flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    /* border: green solid 2px; */
    /* width:310px; */
    width:70%;
    margin: 0;
    padding:0;
    /* right: 32vw; */
    vertical-align: center;
    justify-content: space-between;


    
}

    .manager-ul > button{
        font-size: 1.0rem;
        line-height: 1.5;
        padding:6px 10px;
        height: 39px;
        width: 124px;
        /* margin-right: 1rem;
        padding-right: 1rem;
        padding-left: 1rem; */
        /* object-fit: contain; */
    }

.manager-nav > .manager-ul > .nav__header-title{
    width:65%;
    min-width: 392px;
    margin-right: 10px;
    /* padding-left: 450px; */
    /* border: blue solid 2px; */

}

#menuToggle{
    display: none;
    position: relative;
    /* top: 0px;
    left: 50px;
    
    z-index: 1; */
    
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle a
  {
    text-decoration: none;
    color: #232323;
    
    transition: color 0.3s ease;
  }
  
  #menuToggle a:hover
  {
    color: tomato;
  }
  
  
  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  
  /*
   * Just a quick hamburger
   */

   #menuToggle input[type='checkbox']{
    margin: 0 0 0 20px;
    justify-self: center;
    justify-content:center;
    align-items: center;
   }
  #menuToggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #cdcdcd;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu
  {
    position: absolute;
    width: auto;
    /* min-width: auto; */
    margin: 14px auto auto -25px;
    padding: 5px;
    display:flex;
    justify-content: last baseline;
    align-items:center;
    background: #ffffff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    padding: 0 10px ;
    font-size: 22px;
  }
  
  /*
   * And let's slide it in from the left
   */
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }


  

  
.manager-nav__home-form{
    display: inline-block; 
    margin: 0;

}

.manager-nav__home-form > button{
    border: none;
    background:  none;
}

.manager-nav__create-bay-form{
    display: inline-block; 
    margin: 0;
    /* border: blue solid 2px; */

}

.manager-nav__create-bay-form > button{
    border: none;
    background: none ;

}






/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  


/* .manager-create-body-container{

    border: blue solid 2px;
    width:70%;

}  */


.dropdown {
    -webkit-text-fill-color: rgb(0, 90, 173);
    /* border: blue solid 2px; */
    position: absolute;
    left: 12%;
    margin:auto;
    /* margin-top: 55px; */

  }
  
  .dropdown a {
    -webkit-text-fill-color: rgb(0, 90, 173);
    cursor: pointer;
  }
  
  .dropdown li {
    display: flex;
    justify-content: center;
    font-size: 1em;
    padding: 0.25em 1em;
    line-height: 1em;
  }

  .dropdown li.selected {
    background-color: rgba(161, 217, 255, 0.692);
  }
  
  .dropdown li.nonselected {
    background-color: white;
  }
 
  .dropdown-menu {
    padding: 0;
    max-height: 4.5em; /* 1.5 x 3 */
    overflow-y: auto;
  }
  

  .manager-body-container{
    /* border: green solid 2px; */
    background-color: transparent;
    margin: auto;
    margin-top: 80px;
    margin-bottom:20px;
    display: flex;
    flex-wrap: wrap;
    height:100vh;
    width:80%
      
  }

  .manager-body-container .table-container {
    flex:40%; /* or - flex: 0 50% - or - flex-basis: 50% - */
    /*demo*/
    /* box-shadow: 0 0 0 1px black; */
    margin:15px;
    height: auto;
    width:auto;
    object-fit: content;
    /* border: red solid 2px; */
  }


  [contenteditable="true"]:active,
  [contenteditable="true"]:focus {
    border: solid rgb(9, 132, 214);
    /* outline:groove white;
    outline-offset: 2em; */
  }
  
  [contenteditable="true"]:focus::before {
    content: "🤔";
    background: rgb(255, 255, 255);
  }
  
  
  .table-edit {
    background-color: white;
    border: double green 5px;
    height: 100%;
  }
  
  .table-delete {
    background-color: white;
    border: double rgb(214, 0, 0) 2px;
  }
  
  .table-norm {
    background-color: white;
    border: double rgb(0, 0, 0) 2px;
  }
  
  .buttons {
    width: 100%;
    position: relative;
    padding:0;
    margin: 0 0 15px 0;
    display: inline-flex;
    /* border: double rgb(214, 0, 0) 2px; */
    align-items: center;
    justify-content: center;
    vertical-align: middle;

  }
  table, .table-norm, .table-edit, .table-delete, .table {
    line-height: 100%!important;
  }
  /* table {
    display: inline-table;
    table-layout:overflow;
    border: none; 
    word-wrap:break-word;
    overflow:scroll;
  } */
  
  .table-responsive {
    position: relative;
    display: flex;
    margin: auto;
  }
  .card-category {
    color: rgb(40, 40, 209);
  }
  .card-body{
    padding:0;
    min-width: 407px;

  }

  .table-header{
    position: block;
    right: 10rem;
    height: 40px;
    }

  .table-title {

    font-size: 27px;
    font-weight: bolder;
    width: auto;
    position: relative;
    display: inline-block;
    /* top: 45px; */
    -webkit-text-fill-color: rgb(
      0,
      90,
      173
    ); /* Will override color (regardless of order) */
    font-family: Open Sans;
    border-color: rgb(25, 216, 216);
    display: flex;
    justify-content: center;
    /* justify-self: center; */
    height:auto;
    /* border: solid blue 2px; */
    margin-bottom: 0;
    flex: 2;
    padding-left:120px;

  }

    
    

td .hover_img  {
  position:absolute; 
  display:none;
  /* z-index:99;  */
  }

td:hover .hover_img { 
  display:inline; 
  
  overflow: visible; 
  position: fixed; 
  left: calc(40vw - 340px);
  top: calc(20vh);
  background-color: transparent;
  /* margin-top: -300px;
  margin-left: -700px; */

}

.hover_img img {
  max-width:340px;
  max-height:340px;
  object-fit: contain;
  padding: 5px;
  
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


td.edit { resize: horizontal; overflow: hidden; overflow-wrap: break-word;  }
td.norm { resize: ""; overflow: visible; overflow-wrap: break-word;}
th {
  writing-mode: vertical-rl;
  text-orientation: upright;
}



}

.dropdown_2{
  left: 12%;
  top:none;

  -webkit-text-fill-color: rgb(0, 90, 173);
  position: absolute;
  margin:auto;
}

.dropdown_2 a {
  -webkit-text-fill-color: rgb(0, 90, 173);
  cursor: pointer;
}

.dropdown_2 li {
  display: flex;
  justify-content: center;
  font-size: 1em;
  padding: 0.25em 1em;
  line-height: 1em;
}

.dropdown_2 li.selected {
  background-color: rgba(161, 217, 255, 0.692);
}

.dropdown_2 li.nonselected {
  background-color: white;
}

.table-header .btn{
    border-radius: 4px;
    margin: 0 5px;
}

.manager-nav .btn{
    border-radius: 4px

}
button:focus {outline:0;}


@media only screen and (max-width: 948px){
       
    .manager-nav > .manager-ul > .nav__header-title{
        width:100%;
        margin:auto;


    }
    .manager-ul > button{
        display: none;
    }

    .manager-ul  form {
        display: none;
    }
    #menuToggle{
        display: block;
        padding: 0 20px;
    }
    #menu > button{
        display: inline-block;
        min-width:150px;
        margin-left: 5px;
    }
    #menu form{
        display: inline-block;
    }
    td:hover .hover_img { 
      left: calc(60vw - 340px);
      top: calc(50vh);
    }
    

   }
   
@media only screen and (max-width: 815px){
    .table{
        font-size:12px;
    }
  
     }
 
/* @media only screen and (min-width:732px){
  .dropdown{
    left: 12%;
    top:none;
  }

  .dropdown_2{
    left: 12%;
    top:none;
    -webkit-text-fill-color: rgb(0, 90, 173);
    position: absolute;
    margin:auto;
} */

@media only screen and (max-width:731px){
    .table{
        font-size:10px;
    }
    .dropdown{
        left:38%;
        top:12%
    }

    .dropdown_2{
        left:54%;
        top:12%;
        -webkit-text-fill-color: rgb(0, 90, 173);
        position: absolute;
        margin:auto;
    }
    .hover_img img{
      max-width:240px;
      max-height:240px;
    }

    }
@media only screen and (max-width:676px){
    .table{
        font-size:8px;
    }
    .modal-content .table-title{
        padding-left: 20px;
    }
    .modal-content .table-header{
        width:100%;
    }
    .modal-content{
        padding: 0;
        width: 93%;
    }

    td:hover .hover_img { 
      left: calc(90vw - 340px);
      top: calc(50vh);
    }

    .hover_img img{
      max-width:240px;
      max-height:240px;
    }

    }

    @media only screen and (max-width:1621px){
     
      td:hover .hover_img { 
        left: calc(65vw - 340px);
        top: calc(20vh);
      }

    }