{% extends 'layout.html' %}
{% block title %}Manage Shoe Bays{% endblock %}
{% block content %}

    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><div><h1>Reebok Shoe Locate</div>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto"> 
                  <button type="button" rel="tooltip" class="btn btn-success">
                    <i class="material-icons">Create Bay</i>
                  </button></ul>
            </div>
        </div>
    </nav>

    
    <div class="container-dropdown-btn d-flex masthead">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="dd-button" data-toggle="dropdown">Bay Selection
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li class = "selected"><a href="#">All Bays</a></li>
          <li class="divider"></li>
          <li class = "nonselected"><a href="#">HTML</a></li>
          <li class = "nonselected"><a href="#">CSS</a></li>
          <li class = "nonselected"><a href="#">JavaScript</a></li>
          <li class = "nonselected"><a href="#">JavaScript</a></li>
          <li class = "nonselected"><a href="#">JavaScript</a></li>
          <li class = "nonselected"><a href="#">HTML</a></li>
          <li class = "nonselected"><a href="#">CSS</a></li>
          <li class = "nonselected"><a href="#">JavaScript</a></li>
          <li class = "nonselected"><a href="#">JavaScript</a></li>
          <li class = "nonselected"><a href="#">JavaScript</a></li>
        </ul>
      </div>
    </div>
    <header class="masthead text-center text-white d-flex " style="box-shadow: 0px 0px;">
      
      <div class= "bayA container my-auto">
        <div class="table-header my-auto">
          <p class="table-title"> Bay 1</p>
           <div class = "buttons"> 
            <button type="button" rel="tooltip" class="btn btn-success">
             <i class="material-icons">Edit</i>
             </button>
             <button type="button" rel="tooltip" class="btn btn-danger">
              <i class="material-icons">Delete</i>
             </button>
        </div>
      </div>
      
        <div class="card-body">
          <div class="container my-auto">
            <table class="table table-norm">
              <thead class=" text-primary">
               
                <th>
                  Section
                </th>
                <th>
                  Name
                </th>
                <th>
                  Style Code
                </th>
                <th>
                  Row
                </th>
                <th>
                  Coloumn 
                </th>
                <th>
                  Notes/Description
                </th>
                <th>
                  View
                </th>
              </thead>
              <tbody>
                <tr>
                 
                  <td class = "norm">
                    Dakota Rice
                  </td>
                  <td>
                    Niger
                  </td>
                  <td class = "edit text-primary" contenteditable="true">
                    OudTurnhout
                  </td>
                  <td class="text-primary edit">
                    $36,738
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    👀 ImageLink
                  </td>
                </tr>
                <tr>
                  <td>
                    2
                  </td>
                  <td>
                    Minerva Hooper
                  </td>
                  <td>
                    Curaçao
                  </td>
                  <td>
                    Sinaai-Waas
                  </td>
                  <td class="text-primary">
                    $23,789
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    👀 ImageLink
                  </td>
                </tr>
                <tr>
                  <td>
                    3
                  </td>
                  <td>
                    Sage Rodriguez
                  </td>
                  <td>
                    Netherlands
                  </td>
                  <td>
                    Baileux
                  </td>
                  <td class="text-primary">
                    $56,142
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    👀 ImageLink
                  </td>
                </tr>
                <tr>
                  <td>
                    4
                  </td>
                  <td>
                    Philip Chaney
                  </td>
                  <td>
                    Korea, South
                  </td>
                  <td>
                    Overland Park
                  </td>
                  <td class="text-primary">
                    $38,735
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    👀 ImageLink
                  </td>
                </tr>
                <tr>
                  <td>
                    5
                  </td>
                  <td>
                    Doris Greene
                  </td>
                  <td>
                    Malawi
                  </td>
                  <td>
                    Feldkirchen in Kärnten
                  </td>
                  <td class="text-primary">
                    $63,542
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    👀 ImageLink
                  </td>
                </tr>
                <tr>
                  <td>
                    6
                  </td>
                  <td>
                    Mason Porter
                  </td>
                  <td>
                    Chile
                  </td>
                  <td>
                    Gloucester
                  </td>
                  <td class="text-primary">
                    $78,615
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    👀 ImageLink
                  </td>
                </tr>
                <tr>
                  <td>
                    7
                  </td>
                  <td>
                    Mason Porter
                  </td>
                  <td>
                    Chile
                  </td>
                  <td>
                    Gloucester
                  </td>
                  <td class="text-primary">
                    $78,615
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    👀 ImageLink
                  </td>
                </tr>
                <tr>
                  <td>
                    8
                  </td>
                  <td>
                    Mason Porter
                  </td>
                  <td>
                    Chile
                  </td>
                  <td>
                    Gloucester
                  </td>
                  <td class="text-primary">
                    $78,615
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    👀 ImageLink
                  </td>
                </tr>
                <tr>
                  <td>
                    9
                  </td>
                  <td>
                    Mason Porter
                  </td>
                  <td>
                    Chile
                  </td>
                  <td>
                    Gloucester
                  </td>
                  <td class="text-primary">
                    $78,615
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    👀 ImageLink
                  </td>
                </tr>
                <tr>
                  <td>
                    10
                  </td>
                  <td>
                    Mason Porter
                  </td>
                  <td>
                    Chile
                  </td>
                  <td>
                    Gloucester
                  </td>
                  <td class="text-primary">
                    $78,615
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    👀 ImageLink
                  </td>
                </tr>
                
              </tbody>
              
            </table>
          </div>
        </div>
      </div>
   
    <div class= "bayB container my-auto ">
      <div class=" my-auto">
        <p class="table-title"> Bay 2</p>
        <div class = "buttons"> 
          <button type="button" rel="tooltip" class="btn btn-success">
            <i class="material-icons">Edit</i>
          </button>
          <button type="button" rel="tooltip" class="btn btn-danger">
            <i class="material-icons">Delete</i>
          </button>
        </div>
        
        <div class="card-body">
          <div class="container my-auto">
            <table class="table table-norm">
              <thead class=" text-primary">
              
                <th>
                  Section
                </th>
                <th>
                  Name
                </th>
                <th>
                  Style Code
                </th>
                <th>
                  Row
                </th>
                <th>
                  Coloumn 
                </th>
                <th>
                  Notes/Description
                </th>
                <th>
                  View
                </th>
              </thead>
              <tbody>
                <tr>
                
                <td>
                  Dakota Rice
                </td>
                <td>
                  Niger
                </td>
                <td contenteditable="true">
                  OudTurnhout
                </td>
                <td class="text-primary">
                  $36,738
                </td>
                <td>
                  Niger
                </td>
                <td>
                  Niger
                </td>
                <td>
                  👀 ImageLink
                </td>
              </tr>
              <tr>
                <td>
                  2
                </td>
                <td>
                  Minerva Hooper
                </td>
                <td>
                  Curaçao
                </td>
                <td>
                  Sinaai-Waas
                </td>
                <td class="text-primary">
                  $23,789
                </td>
                <td>
                  Niger
                </td>
                <td>
                  👀 ImageLink
                </td>
              </tr>
              <tr>
                <td>
                  3
                </td>
                <td>
                  Sage Rodriguez
                </td>
                <td>
                  Netherlands
                </td>
                <td>
                  Baileux
                </td>
                <td class="text-primary">
                  $56,142
                </td>
                <td>
                  Niger
                </td>
                <td>
                  👀 ImageLink
                </td>
              </tr>
              <tr>
                <td>
                  4
                </td>
                <td>
                  Philip Chaney
                </td>
                <td>
                  Korea, South
                </td>
                <td>
                  Overland Park
                </td>
                <td class="text-primary">
                  $38,735
                </td>
                <td>
                  Niger
                </td>
                <td>
                  👀 ImageLink
                </td>
              </tr>
              <tr>
                <td>
                  5
                </td>
                <td>
                  Doris Greene
                </td>
                <td>
                  Malawi
                </td>
                <td>
                  Feldkirchen in Kärnten
                </td>
                <td class="text-primary">
                  $63,542
                </td>
                <td>
                  Niger
                </td>
                <td>
                  👀 ImageLink
                </td>
              </tr>
              <tr>
                <td>
                  6
                </td>
                <td>
                  Mason Porter
                </td>
                <td>
                  Chile
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-primary">
                  $78,615
                </td>
                <td>
                  Niger
                </td>
                <td>
                  👀 ImageLink
                </td>
              </tr>
              <tr>
                <td>
                  7
                </td>
                <td>
                  Mason Porter
                </td>
                <td>
                  Chile
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-primary">
                  $78,615
                </td>
                <td>
                  Niger
                </td>
                <td>
                  👀 ImageLink
                </td>
              </tr>
              <tr>
                <td>
                  8
                </td>
                <td>
                  Mason Porter
                </td>
                <td>
                  Chile
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-primary">
                  $78,615
                </td>
                <td>
                  Niger
                </td>
                <td>
                  👀 ImageLink
                </td>
              </tr>
              <tr>
                <td>
                  9
                </td>
                <td>
                  Mason Porter
                </td>
                <td>
                  Chile
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-primary">
                  $78,615
                </td>
                <td>
                  Niger
                </td>
                <td>
                  👀 ImageLink
                </td>
              </tr>
              <tr>
                <td>
                  10
                </td>
                <td>
                  Mason Porter
                </td>
                <td>
                  Chile
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-primary">
                  $78,615
                </td>
                <td>
                  Niger
                </td>
                <td>
                  👀 ImageLink
                </td>
                </tr>
              </tbody>   
            </table>
          </div>
        </div>
      </div>
  
        </header>

    <section id="" class="masthead text-center text-white d-flex">
      <div class= " container my-auto ">
        <div class=" my-auto">
          <p class="table-title"> Bay 3</p>
          <div class = "buttons"> 
            <button type="button" rel="tooltip" class="btn btn-success">
            <i class="material-icons">Edit</i>
            </button>
            <button type="button" rel="tooltip" class="btn btn-danger">
                <i class="material-icons">Delete</i>
            </button>
          </div>
          <div class="card-body">
            <div class="container my-auto">
              <table class="table table-norm">
                <thead class=" text-primary">
                
                  <th>
                    Section
                  </th>
                  <th>
                    Name
                  </th>
                  <th>
                    Style Code
                  </th>
                  <th>
                    Row
                  </th>
                  <th>
                    Coloumn 
                  </th>
                  <th>
                    Notes/Description
                  </th>
                  <th>
                    View
                  </th>
                </thead>
                <tbody>
                  <tr>
                  
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td contenteditable="true">
                      OudTurnhout
                    </td>
                    <td class="text-primary">
                      $36,738
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      👀 ImageLink
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      Minerva Hooper
                    </td>
                    <td>
                      Curaçao
                    </td>
                    <td>
                      Sinaai-Waas
                    </td>
                    <td class="text-primary">
                      $23,789
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      👀 ImageLink
                    </td>
                  </tr>
                  <tr>
                    <td>
                      3
                    </td>
                    <td>
                      Sage Rodriguez
                    </td>
                    <td>
                      Netherlands
                    </td>
                    <td>
                      Baileux
                    </td>
                    <td class="text-primary">
                      $56,142
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      👀 ImageLink
                    </td>
                  </tr>
                  <tr>
                    <td>
                      4
                    </td>
                    <td>
                      Philip Chaney
                    </td>
                    <td>
                      Korea, South
                    </td>
                    <td>
                      Overland Park
                    </td>
                    <td class="text-primary">
                      $38,735
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      👀 ImageLink
                    </td>
                  </tr>
                  <tr>
                    <td>
                      5
                    </td>
                    <td>
                      Doris Greene
                    </td>
                    <td>
                      Malawi
                    </td>
                    <td>
                      Feldkirchen in Kärnten
                    </td>
                    <td class="text-primary">
                      $63,542
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      👀 ImageLink
                    </td>
                  </tr>
                  <tr>
                    <td>
                      6
                    </td>
                    <td>
                      Mason Porter
                    </td>
                    <td>
                      Chile
                    </td>
                    <td>
                      Gloucester
                    </td>
                    <td class="text-primary">
                      $78,615
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      👀 ImageLink
                    </td>
                  </tr>
                  <tr>
                    <td>
                      7
                    </td>
                    <td>
                      Mason Porter
                    </td>
                    <td>
                      Chile
                    </td>
                    <td>
                      Gloucester
                    </td>
                    <td class="text-primary">
                      $78,615
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      👀 ImageLink
                    </td>
                  </tr>
                  <tr>
                    <td>
                      8
                    </td>
                    <td>
                      Mason Porter
                    </td>
                    <td>
                      Chile
                    </td>
                    <td>
                      Gloucester
                    </td>
                    <td >
                      $78,615
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      👀 ImageLink
                    </td>
                  </tr>
                  <tr>
                    <td>
                      9
                    </td>
                    <td>
                      Mason Porter
                    </td>
                    <td>
                      Chile
                    </td>
                    <td>
                      Gloucester
                    </td>
                    <td class="text-primary">
                      $78,615
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      👀 ImageLink
                    </td>
                  </tr>
                  <tr>
                    <td>
                      10
                    </td>
                    <td>
                      Mason Porter
                    </td>
                    <td>
                      Chile
                    </td>
                    <td>
                      Gloucester
                    </td>
                    <td class="text-primary">
                      $78,615
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      👀 ImageLink
                    </td>
                  </tr>
                  
                </tbody>
                
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class= " container my-auto ">
        <div class=" my-auto">
          <p class="table-title"> Bay 4</p>
          <div class = "buttons"> 
            <button type="button" rel="tooltip" class="btn btn-success">
              <i class="material-icons">Edit</i>
            </button>
            <button type="button" rel="tooltip" class="btn btn-danger">
              <i class="material-icons">Delete</i>
            </button>
          </div>
          
          <div class="card-body">
            <div class="container my-auto">
              <table class="table table-norm">
                <thead class=" text-primary">
                
                  <th>
                    Section
                  </th>
                  <th>
                    Name
                  </th>
                  <th>
                    Style Code
                  </th>
                  <th>
                    Row
                  </th>
                  <th>
                    Coloumn 
                  </th>
                  <th>
                    Notes/Description
                  </th>
                  <th>
                    View
                  </th>
                </thead>
                <tbody>
                  <tr>
                  
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td contenteditable="true">
                      OudTurnhout
                    </td>
                    <td class="text-primary">
                      $36,738
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      👀 ImageLink
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      Minerva Hooper
                    </td>
                    <td>
                      Curaçao
                    </td>
                    <td>
                      Sinaai-Waas
                    </td>
                    <td class="text-primary">
                      $23,789
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      👀 ImageLink
                    </td>
                  </tr>
                  <tr>
                    <td>
                      3
                    </td>
                    <td>
                      Sage Rodriguez
                    </td>
                    <td>
                      Netherlands
                    </td>
                    <td>
                      Baileux
                    </td>
                    <td class="text-primary">
                      $56,142
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      👀 ImageLink
                    </td>
                  </tr>
                  <tr>
                    <td>
                      4
                    </td>
                    <td>
                      Philip Chaney
                    </td>
                    <td>
                      Korea, South
                    </td>
                    <td>
                      Overland Park
                    </td>
                    <td class="text-primary">
                      $38,735
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      👀 ImageLink
                    </td>
                  </tr>
                  <tr>
                    <td>
                      5
                    </td>
                    <td>
                      Doris Greene
                    </td>
                    <td>
                      Malawi
                    </td>
                    <td>
                      Feldkirchen in Kärnten
                    </td>
                    <td class="text-primary">
                      $63,542
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      👀 ImageLink
                    </td>
                  </tr>
                  <tr>
                    <td>
                      6
                    </td>
                    <td>
                      Mason Porter
                    </td>
                    <td>
                      Chile
                    </td>
                    <td>
                      Gloucester
                    </td>
                    <td class="text-primary">
                      $78,615
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      👀 ImageLink
                    </td>
                  </tr>
                  <tr>
                    <td>
                      7
                    </td>
                    <td>
                      Mason Porter
                    </td>
                    <td>
                      Chile
                    </td>
                    <td>
                      Gloucester
                    </td>
                    <td class="text-primary">
                      $78,615
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      👀 ImageLink
                    </td>
                  </tr>
                  <tr>
                    <td>
                      8
                    </td>
                    <td>
                      Mason Porter
                    </td>
                    <td>
                      Chile
                    </td>
                    <td>
                      Gloucester
                    </td>
                    <td class="text-primary">
                      $78,615
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      👀 ImageLink
                    </td>
                  </tr>
                  <tr>
                    <td>
                      9
                    </td>
                    <td>
                      Mason Porter
                    </td>
                    <td>
                      Chile
                    </td>
                    <td>
                      Gloucester
                    </td>
                    <td class="text-primary">
                      $78,615
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      👀 ImageLink
                    </td>
                  </tr>
                  <tr>
                    <td>
                      10
                    </td>
                    <td>
                      Mason Porter
                    </td>
                    <td>
                      Chile
                    </td>
                    <td>
                      Gloucester
                    </td>
                    <td class="text-primary">
                      $78,615
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      👀 ImageLink
                    </td>
                  </tr>
                  
                </tbody>
                
              </table>
            </div>
          </div>
        </div>
      </div>
    </section> 
  
    {% endblock  %}
